# Taken under BSD license from FreeBSD source code
# Copyright FreeBSD contributors

/set type=dir uname=root gname=wheel mode=0755
.
    account             mode=0750
    ..
    at
    ..
/set mode=0750
    audit		gname=audit
    ..
    backups
    ..
    cache               mode=0755
    ..
    crash
    ..
    cron
        tabs            mode=0700
        ..
    ..
/set mode=0755
    db
        entropy         gname=operator mode=0700
        ..
        mtree
        ..
    ..
    empty           mode=0555 flags=schg
    ..
    log
    ..
    msgs            uname=daemon
    ..
    preserve
    ..
    run
    ..
    ..
    tmp             mode=01777
    ..
    yp
    ..
..
